footer {
  padding: 2rem;
  background-color: var(--color-custom-green-50);
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
}

footer .footer {
  max-width: 1600px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}


.footer .columns-3-cols {
  max-width: 1200px;
  margin: 0 auto;
}

.footer .columns-3-cols > div > div[data-align="center"] {
  text-align: center;
  margin-bottom: 40px;
}

.footer .columns-3-cols > div > div[data-align="center"] .icon {
    height: 70px;
    width: 70px;
    filter: invert(1);
}

.footer .columns-3-cols > div > div[data-align="center"] h4 {
  margin: 10px 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}


.footer .columns-3-cols > div > div[data-align="center"] p {
    padding: 0 40px;
    color: #fff;
    font-size: 18px;
}

.footer .columns-5-cols > div > .columns-img-col:first-child img {
  width: auto;
}

.footer .columns-5-cols > div > .columns-img-col:last-child {
  margin-top: 40px;
}

.footer .columns-5-cols > div > .columns-img-col:last-child > p  {
  display: flex;
  justify-content: flex-start;
}

.footer .columns-5-cols > div > .columns-img-col:last-child > p > picture {
  margin-right: 10px;
  filter: invert(1);
}

.footer .columns-5-cols > div > .columns-img-col:last-child picture > img{
  width: 32px;
  height: 32px;
}


.footer .columns-5-cols > div > div > h4 {
  color: var(--color-neutral-50);
}

.footer .columns-5-cols > div > div > .button-container a {
  color: var(--color-neutral-50);
}


